* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
     overflow: hidden;
     // background-color: #000;
     display: flex;
     justify-content: center;
}
#flipbook {
}
#flipbook .page {
     background: #fff;
}

#flipbook .shadow {
     // box-shadow: 0 4px 10px #666;
}
img {
     width: 100%;
}
